.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px;
  width: 100%;
  margin: 5% 0;
  padding: 16px;
  gap: 16px;

  @media (max-width: 640px) {
    gap: 12px;
  }
}
.formHeading {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;

  @media (max-width: 640px) {
    font-size: 2rem;
    font-weight: 700;
  }
}
.form input {
  background: #f4f6f8;
  border: 2px solid #7669ed;
  border-radius: 5px;
  box-sizing: border-box;
  color: #7064e5;
  font-size: 1.2em;
  outline: none;
  padding: 12px;
  width: 100%;

  @media (max-width: 640px) {
    padding: 6px 8px;
  }
}
.formBtn {
  border: 2px solid #7064e5;
  cursor: pointer;
  width: 100%;
  background: #7064e5;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 8px 0;
  transition: all 200ms ease-in-out;

  @media (max-width: 640px) {
    font-size: 16px;
    padding: 7px 0;
  }
}
.container a {
  text-decoration: none;
  color: rgb(34, 73, 87);
  font-weight: 700;
}
